
.DS_STORE
Thumbs.db

yarn.lock

.idea
.chrome
/*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

node_modules

/scripts
/src/environment.ts
/dist
/test/coverage-jest
